<div id='header'>
    <div class='dashboard-elements'>
        <div class='dashboard-title'>
        Hursley <b>SSD Dashboard</b>
        </div>
        <div class='dashboard-resources'>
        Login
        </div>
    </div>
</div>