<table style="width:100%">
  <tr>
    <td><b>15C</b></td>
    <td>160112</td> 
    <td><b>7.5.0.3</b></td>
    <td>151229</td>
  </tr>
    <tr>
    <td><b>16A</b></td>
    <td>160102</td> 
    <td><b>7.4.0.11</b></td>
    <td>160110</td>
  </tr>
    <tr>
    <td><b>7.6.0.4</b></td>
    <td>160102</td> 
    <td><b>7.3.0.28</b></td>
    <td>160114</td>
  </tr>
</table>