<table style="width:100%">
  <tr>
    <td><b>26.01</b></td>
    <td>15C SVT exit</td> 
  </tr>
  <tr>
    <td><b>15.03</b></td>
    <td>16A SVT entry</td> 
  </tr>
  <tr>
    <td><b>12.05</b></td>
    <td>16A SVT exit</td> 
  </tr>
  <tr>
    <td><b>06.06</b></td>
    <td>Department BBQ</td> 
  </tr>
</table>