<table style="width:100%">
  <tr>
    <td>Intro to EN</td>
    <td>12:00</td> 
    <td>CO13</td>
    <td>15/01</td>
  </tr>
  <tr>
    <td>UTOD and UTOX</td>
    <td>12:00</td> 
    <td>CO13</td>
    <td>22/01</td>
  </tr>
  <tr>
    <td>Andrea is Cool</td>
    <td>12:00</td> 
    <td>CO53</td>
    <td>24/01</td>
  </tr>
  <tr>
    <td>Steve is cool too</td>
    <td>14:00</td> 
    <td>CO13</td>
    <td>03/02</td>
  </tr>
  <tr>
    <td>Batphone 101</td>
    <td>16:00</td> 
    <td>CO53</td>
    <td>15/02</td>
  </tr>
</table>