<table style="width:100%">
  <tr>
    <td><b>CO13</b></td>
    <td>15:00</td> 
    <td><b>CO27</b></td>
    <td>tomorrow</td>
  </tr>
    <tr>
    <td><b>CO53</b></td>
    <td>12:00</td> 
    <td><b>CO29</b></td>
    <td>now</td>
  </tr>
    <tr>
    <td><b>CO42</b></td>
    <td>now</td> 
    <td><b>CS124</b></td>
    <td>16:30</td>
  </tr>
</table>