@charset 'utf-8';

@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);

@import 'header';
@import 'content';
@import 'components/info-module';

@color-white: #ffffff;
@color-white-border: #e0e0e0;
@color-body: #f4f4f4;
@color-blue-link: #4178be;

//
@color-ibm-blue10: #C0E6FF;
@color-ibm-blue20: #7CC7FF;
@color-ibm-blue30: #5AAAFA;
@color-ibm-blue40: #5596E6;
@color-ibm-blue50: #4178BE;
@color-ibm-blue60: #325C80;
@color-ibm-blue70: #264A60;
@color-ibm-blue80: #1D3649;
@color-ibm-blue90: #152935;

html, body {
    background-color: @color-body;
    font-family: "Arimo", sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
}